body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#2e282a;
  color: #f1f8e9;
}

div {
  margin-left: 20%;
}

h1 {
  font-size: 42px;
  font-style: bold;
  text-align: center;
  color: #76b041;
  margin-top: 75px;
  margin-bottom: 75px;
}

h2 {
  font-size: 24px;
  text-transform: capitalize;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

a {
  font-size: 12px;
  text-decoration: none;
  color: #aed581;
  font-style: italic;
  display: flex;
  margin-bottom: 75px;
}

a:hover {
  color: #C3CCCC;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
}
